@import url(reset.css);

.header {
	position: fixed;
	width: 1440px;
	height: 140px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo {
	position: absolute;
	width: 120px;
	height: 40px;
	left: 50px;
	top: 50px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	align-items: center;
	color: #E50043;
}

.link {
	width: 130px;
	height: 40px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: #E50043;
}
.imgEvian {
	position: relative;
	width: 1440px;
	height: 950px;
	left: 0px;
	top: 140px;
	background-image: url(../img/evian_origins_logo.png)
}

.textContainer {
	position: relative;
	width: 1040px;
	height: 280px;
	left: 201px;
	top: 290px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
}

.mainText {
	position: absolute;
	width: 992px;
	height: 232px;
	left: 24px;
	top: 24px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #000000;
}

#imgDiv {
	position: relative;
	width: 1440px;
	height: 1260px;
	top: 250px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bottleImage.first {
	width: 281px;
	height: 863px;
	background-image: url(../img/wang.png);

}

.bottleImage.second {
	width: 279px;
	height: 863px;
	background-image: url(../img/blue.png);
}


.bottleImage.third {
	width: 280px;
	height: 863px;
	background-image: url(../img/chiara.png);
}

.textDescription {
	position: absolute;
	width: 248px;
	height: 58px;
	top: 1110px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	color: #000000;
}

#evianDescription {
	position: relative;
	width: 1040px;
	height: 280px;
	left: 201px;
	top: 275px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
}

.lastImage {
	position: absolute;
	width: 101px;
	height: 220px;
	left: 80px;
	top: 30px;
	background-image: url(../img/glass.jpg);

}

.description {
	position: absolute;
	width: 749px;
	height: 220px;
	left: 261px;
	top: 30px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #000000;
}

.footerContainer {
	position: relative;
	width: 1440px;
	height: 140px;
	left: 0px;
	top: 450px;
	background: #F8BFC7;
}

.copyright {
	position: absolute;
	width: 345px;
	height: 40px;
	left: 50px;
	top: 50px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
}

.back {
	position: absolute;
	width: 110px;
	height: 40px;
	left: 1280px;
	top: 50px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #FFFFFF;
}